# ========== node packages ==========
node_modules/
jspm_packages/

# ========== project files ==========
.idea/
.project
.vscode/

# ========== random files ==========
.DS_Store
app/.DS_Store
**/.DS_Store
**/*.swp
**/*.swo
