<template>
  <div>
    <md-chip md-close="false">
      <img src="/src/images/speakers/speaker1.png" alt="Contact Person">
      Jane Doe
    </md-chip>
    <md-chip md-close="true">
      <img src="/src/images/speakers/speaker1.png" alt="Contact Person">
      Jane Doe
    </md-chip>
    <md-chip md-close="true">
      <img src="/src/images/speakers/speaker1.png" alt="Contact Person">
      Jane Doe
    </md-chip>
    <md-chip md-close="true">
      <img src="/src/images/speakers/speaker1.png" alt="Contact Person">
      Jane Doe
    </md-chip>
    <md-chip md-close="true">
      <img src="/src/images/speakers/speaker1.png" alt="Contact Person">
      Jane Doe
    </md-chip>
    <md-chip md-close="true">
      <img src="/src/images/speakers/speaker1.png" alt="Contact Person">
      Jane Doe
    </md-chip>
  </div>
</template>