<template>
    <require from="bootstrap/css/bootstrap.css"></require>
    <md-colors md-primary-color="indigo" md-accent-color="indigo"></md-colors>
    <compose view-model="viewmodels/navBar"></compose>
    <div class="flexbox-parent">
        <nav-bar class="flexbox-item" router.bind="router"></nav-bar>
        <div class="flexbox-item fill-area flexbox-item-grow">
            <div class="fill-area-content flexbox-item-grow">
                <div class="loader-container" if.bind="router.isNavigating">
                    <md-progress md-type="circular" md-size="small" md-color="blue"></md-progress>
                </div>
                <div class="container-fluid" if.bind="!router.isNavigating">
                    <div class="row">
                        <div class="col-sm-9">
                            <router-view name="mainContent"></router-view>
                        </div>
                        <div class="col-sm-3">
                            <router-view name="sideBar"></router-view>
                            <!--<compose view-model="viewmodels/sponsors"></compose>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <compose class="flexbox-item" view="views/footer.html"></compose>
    </div>
</template>