<template>
    <h4>Sponsors</h4>
    <compose view="views/chips.html"></compose>
    <md-card md-image="/src/images/speakers/speaker1.png" md-title="Card title" md-size="small">
        <div>
        I am a very simple card. I am good at containing small bits of
        information. I am convenient because I require little markup to
        use effectively.
        </div>
    </md-card>
    <md-card md-image="/src/images/speakers/speaker1.png" md-title="Card title" md-size="small">
        <div>
        I am a very simple card. I am good at containing small bits of
        information. I am convenient because I require little markup to
        use effectively.
        </div>
    </md-card>
</template>