<template bindable="router">
    <md-navbar fixed="true">
        <div class="container-fluid">
            <a href="/"
               class="brand-logo left">
                <img src="/app/img/speakers/speaker1.png" alt="" style="width:40px;">
                <span class="flow-text">${router.title}</span>
            </a>
            <ul class="right hide-on-med-and-down"
                if.bind="authenticated" >
                <li class="${row.isActive ? 'active' : ''}"
                    md-waves
                    repeat.for="row of router.navigation">
                    <a href.bind="row.href">${row.title}</a>
                </li>
            </ul>

            <ul class="right hide-on-med-and-down">
                <li class="${row.isActive ? 'active' : ''}"
                    if.bind="!authService.isUserLoggedIn" >
                    <a href="javascript:void(0);"
                       click.delegate="authService.login('google')"
                       if.bind="!authService.isUserLoggedIn">Login via Google</a>
                </li>
                <li class="${row.isActive ? 'active' : ''}"
                    if.bind="authService.isUserLoggedIn">
                    <a href="javascript:void(0);"
                       click.delegate="authService.logout()"
                       if.bind="authService.isUserLoggedIn">Logout</a>
                </li>

                <li class="${row.isActive ? 'active' : ''}"
                    if.bind="!authService.isUserLoggedIn">
                    <a href="/#/signup">Sign up</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="loader"
                    if.bind="router.isNavigating">
                    <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
            </ul>
        </div>
    </md-navbar>
</template>